---
http_interactions:
- request:
    method: get
    uri: https://api.pipelinedeals.com/api/v3/deals.json?api_key=G5mZccexXgchNkAYOBlQ&page=10000000&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"91303fd187b564070f658c10039bcb15"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '10'
      X-Ratelimit-Reset:
      - '1591460631'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[],"pagination":{"page":10000000,"page_var":"page","per_page":10,"pages":10,"total":100}}'
  recorded_at: Sat, 06 Jun 2020 16:23:50 GMT
recorded_with: VCR 6.0.0
