---
http_interactions:
- request:
    method: get
    uri: https://api.pipelinedeals.com/api/v3/deals.json?api_key=G5mZccexXgchNkAYOBlQ&page=2&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9bf0f6b231790c3fce622f9e414fa961"
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1591462503'
    body:
      encoding: ASCII-8BIT
      string: '{"entries":[{"id":12807184,"name":"Bechtelar and Sons","summary":null,"user_id":220090,"created_at":"2016/04/11
        13:45:59 -0400","updated_at":"2016/04/11 13:45:59 -0400","is_archived":false,"is_example":null,"source_id":null,"primary_contact_id":null,"deal_stage_id":727378,"probability":10,"status":null,"expected_close_date":null,"closed_time":null,"expected_close_date_event_id":null,"company_id":null,"import_id":null,"value":"23857.75","deal_loss_reason_id":null,"deal_loss_reason_notes":null,"is_sample":false,"revenue_type_id":null,"deal_pipeline_id":201025,"created_by_user_id":null,"deal_won_reason_id":null,"deal_won_reason_notes":null,"updated_by_user_id":null,"person_ids":[],"shared_user_ids":[],"value_in_cents":2385775,"user":{"id":220090,"first_name":"Glengarry","last_name":"Ross"},"deal_stage":{"id":727378,"percent":10,"name":"Qualified"},"people":[],"currency":{"id":1,"name":"American
        Dollar","code":"USD","symbol":"$"},"deal_pipeline":{"id":201025,"name":"Sales
        Pipeline","default":true},"deal_loss_reason":null,"deal_won_reason":null,"primary_contact":null,"company":null,"revenue_type":null,"deal_copy":null,"created_by_user":null,"updated_by_user":null,"collaborators":[],"custom_fields":{"custom_label_1279429":null},"deal_product_lines_ids":[]},{"id":12807181,"name":"Metz-Maggio","summary":null,"user_id":220090,"created_at":"2016/04/11
        13:45:59 -0400","updated_at":"2016/04/11 13:45:59 -0400","is_archived":false,"is_example":null,"source_id":null,"primary_contact_id":null,"deal_stage_id":727384,"probability":50,"status":null,"expected_close_date":null,"closed_time":null,"expected_close_date_event_id":null,"company_id":null,"import_id":null,"value":"18666.88","deal_loss_reason_id":null,"deal_loss_reason_notes":null,"is_sample[...]
