<nav class="navbar is-link" role="n1avigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a class="title has-text-white" href="/">
        deals
      </a>
    </div>
  </div>
</nav>
